// General
.likely,
.likely__widget {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-indent: 0 !important;
    list-style: none !important;
    font-weight: normal;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: inherit;
}

// Hide buttons until they are loaded
.likely {
    opacity: 0;
    font-size: 0 !important;
}

.likely_visible {
    opacity: 1;
    -webkit-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}

.likely > * {
    display: inline-block;
    visibility: hidden;
}

.likely_visible > * {
    visibility: inherit;
}

// Styles
.likely {
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    
    @media all and (min-width: 760px){
        line-height: 20px;
        position: relative;
        bottom: 0;
        right: 0;
    }

    &__widget {
        display: block;
        position: relative;
        white-space: nowrap;
        border-radius: 50%;
        height: 50px;
        font-size: 12px;
        color: #fff;
        cursor: pointer;
        overflow hidden;
        margin-bottom: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
                transform: translate3d(0, 10px, 0);
        -webkit-transition-duration: 0.14s;
                transition-duration: 0.14s;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease;
        -webkit-transition-property: background, transform, opacity, visibility;
                transition-property: background, transform, opacity, visibility;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        
        @media all and (min-width: 760px){
            display: inline-block;
            height: 20px;
            border-radius: 3px;
            margin-bottom: 0;
            margin-right: 4px;
            box-shadow: none;
            visibility: visible;
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
            -webkit-transition-property: background;
                    transition-property: background;
        }
        
        &:last-child {
            margin-bottom: 0;
            
            @media all and (min-width: 760px){
                margin-right: 0;
            }
        }
        
        &_telegram, &_whatsapp {
            @media all and (min-width: 760px){
                display: none;
            }
        }
        
        &_more {
            visibility: visible;
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
            
            @media all and (min-width: 760px){
                display: none;
            }
        }
        
    } // &__widget

    svg {
        vertical-align: -8px;
        width: 24px;
        height: 24px;
        fill: #fff;
        
        @media all and (min-width: 760px){
            width: 12px;
            height: 12px;
            vertical-align: -2px;
        }
    }
    
    &__icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        
        &_vkontakte {
            svg {
                vertical-align: -9px;
                
                @media all and (min-width: 760px){
                    vertical-align: -2px;
                }
            }
        }
        
        &_gplus {
            svg {
                width: 20px;
                height: 20px;
                vertical-align: -6px;
                
                @media all and (min-width: 760px){
                    width: 12px;
                    height: 12px;
                    vertical-align: -2px;
                }
            }
        }
        
        &_telegram {
            svg {
                width: 20px;
                height: 20px;
                vertical-align: -7px;
                margin-left: -2px;
                
                @media all and (min-width: 760px){
                    width: 12px;
                    height: 12px;
                    vertical-align: -2px;
                }
            }
        }
        
        &_more {
            svg {
                margin-left: -3px;
            }
        }
        
        @media all and (min-width: 760px){
            width: 22px;
            height: 20px;
        }
    }

    &__button,
    &__counter {
        text-decoration: none;
        text-rendering: optimizeLegibility;
        display: none;
        margin: 0;
        outline: 0;
        
        @media all and (min-width: 760px){
            display: inline-block;
        }
    }

    &__button {
        position: relative;
        cursor: pointer;
        user-select: none;
        padding-right: 6px;
    }

    &__counter {
        position: relative;
        font-weight: normal;
        font-size: 11px;
        opacity: .5;
        padding-right: 6px;
    }

    &_ready &__counter {
        @media all and (min-width: 760px){
            display: inline-block;
        }
    }

    &__widget,
    &__icon,
    &__button,
    &__counter {
        vertical-align: top;
    }

    &__button:empty {
        display: none;
    }

} // .likely

.likely_expanded {
    .likely__widget {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }
}

.likely_feed {
    display: none;
    
    @media all and (min-width: 760px){
        display: inline-block;
    }
    
    .likely__widget_more {
        display: none;
    }
}

// Colors
colorize(button, color) {
    .likely__widget_{button} {
        background: color;
        
        &:hover, &:active, &:focus, &.active {
            background: mix(#000,color,15%);
        }
    }
}

colorize('twitter', #31adf4);
colorize('facebook', #304591);
colorize('vkontakte', #527397);
colorize('gplus', #d94435);
colorize('odnoklassniki', #f2812e);
colorize('telegram', #2ca5e0);
colorize('whatsapp', #0f9d58);
colorize('more', #ce8104);