// General
.likely,
.likely__widget {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-indent: 0 !important;
    list-style: none !important;
    font-weight: normal;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: inherit;
}

// Hide buttons until they are loaded
.likely {
    opacity: 0;
    font-size: 0 !important;
}

.likely_visible {
    opacity: 1;
    transition: opacity .1s ease-in;
}

.likely > * {
    display: inline-block;
    visibility: hidden;
}

.likely_visible > * {
    visibility: inherit;
}

// Styles
.likely {
    line-height: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;

    &__widget {
        display: block;
        position: relative;
        white-space: nowrap;
        border-radius: 50%;
        height: 50px;
        font-size: 12px;
        color: #fff;
        cursor: pointer;
        overflow hidden;
        margin-bottom: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
        visibility: hidden;
        opacity: 0;
        transform: translate3d(0, 10px, 0);
        transition: all 0.14s ease;
        
        &:last-child {
            margin-bottom: 0;
        }
        
        &_more {
            transform: translate3d(0, 0, 0);
            visibility: visible;
            opacity: 1;
        }
    }
    
    &__icon {
        display: inline-block;
        width: 50px;
        height: 50px;
    }

    svg {
        vertical-align: -8px;
        width: 24px;
        height: 24px;
        fill: #fff;
    }

    &__button,
    &__counter {
        text-decoration: none;
        text-rendering: optimizeLegibility;
        display: none;
        margin: 0;
        outline: 0;
    }

    &__button {
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    &__counter {
        position: relative;
        font-weight: normal;
        font-size: 11px;
        opacity: .5;
    }

    // &_ready &__counter {
    //     display: inline-block;
    // }
    

    // &_ready &__counter_empty {
    //     display: none;
    // }

    &__widget,
    &__icon,
    &__button,
    &__counter {
        vertical-align: top;
    }

    &__button:empty {
        display: none;
    }

} // .likely

.likely_expanded {
    .likely__widget {
        transform: translate3d(0, 0, 0);
        visibility: visible;
        opacity: 1;
    }
}

// Colors
colorize(button, color) {
    .likely__widget_{button} {
        background: color;
        
        &:hover, &:active, &:focus, &.active {
            background: mix(#000,color,15%);
        }
    }
}

colorize('twitter', #31adf4);
colorize('facebook', #304591);
colorize('vkontakte', #527397);
colorize('gplus', #d94435);
colorize('odnoklassniki', #f2812e);
colorize('telegram', #2ca5e0);
colorize('whatsapp', #0f9d58);

colorize('more', #ce8104);