// General
.likely {
    vertical-align: middle;
}

.likely,
.likely__widget {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-indent: 0 !important;
    list-style: none !important;
    font-weight: normal;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

// Hide buttons until they are loaded
.likely {
    opacity: 0;
    font-size: 0;
    
    &__widget {
        font-size: 1rem;
        cursor: pointer;
    }
}

.likely_visible {
    opacity: 1;
    -webkit-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}

.likely > * {
    display: inline-block;
    visibility: hidden;
}

.likely_visible > * {
    visibility: inherit;
}

// Default styles
.likely:not(.likely_custom) {
    text-align: left;
    line-height: 42px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    
    @media all and (min-width: 760px){
        line-height: 20px;
        position: relative;
        bottom: 0;
        right: 0;
        z-index: auto;
    }

}
    
.likely:not(.likely_custom) {
    
    .likely {
        
        &__widget {
            display: block;
            text-align: center;
            position: relative;
            white-space: nowrap;
            border-radius: 42px;
            height: 42px;
            font-size: 12px;
            color: #fff;
            cursor: pointer;
            overflow hidden;
            margin-bottom: 6px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
            visibility: hidden;
            opacity: 0;
            -webkit-transform: translateY(6px);
                    transform: translateY(6px);
            -webkit-transition-duration: 0.14s;
                    transition-duration: 0.14s;
            -webkit-transition-timing-function: ease;
                    transition-timing-function: ease;
            -webkit-transition-property: background, transform, opacity, visibility;
                    transition-property: background, transform, opacity, visibility;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            
            @media all and (min-width: 760px){
                display: inline-block;
                height: 20px;
                border-radius: 3px;
                margin-top: 2px;
                margin-bottom: 2px;
                margin-right: 4px;
                box-shadow: none;
                visibility: visible;
                opacity: 1;
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                -webkit-transition-property: background;
                        transition-property: background;
            }
            
            &:last-child {
                margin-bottom: 0;
                
                @media all and (min-width: 760px){
                    margin-bottom: 2px;
                    margin-right: 0;
                }
            }
            
            &_pocket {
                display: none;
                
                @media all and (min-width: 760px){
                    display: inline-block;
                }
            }
            
            &_telegram, &_whatsapp, &_viber {
                @media all and (min-width: 760px){
                    display: none;
                }
            }
            
            &_more {
                visibility: visible;
                opacity: 1;
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                
                @media all and (min-width: 760px){
                    display: none;
                }
            }
            
        } // &__widget
        
        &__icon {
            display: inline-block;
            width: 42px;
            height: 42px;
            
            &_vkontakte {
                svg {
                    vertical-align: -7px;
                    
                    @media all and (min-width: 760px){
                        vertical-align: -2px;
                    }
                }
            }
            
            &_gplus {
                svg {
                    width: 18px;
                    height: 18px;
                    vertical-align: -5px;
                    
                    @media all and (min-width: 760px){
                        width: 12px;
                        height: 12px;
                        vertical-align: -2px;
                    }
                }
            }
            
            &_telegram {
                svg {
                    // width: 18px;
                    // height: 18px;
                    // vertical-align: -5px;
                    margin-left: -3px;
                    
                    @media all and (min-width: 760px){
                        width: 12px;
                        height: 12px;
                        vertical-align: -2px;
                    }
                }
            }
            
            &_viber {
                svg {
                    margin-left: -1px;
                    margin-top: 2px;
                    
                    @media all and (min-width: 760px){
                        width: 12px;
                        height: 12px;
                        vertical-align: -2px;
                    }
                }
            }
            
            &_more {
                svg {
                    margin-left: -3px;
                }
            }
            
            @media all and (min-width: 760px){
                width: 22px;
                height: 20px;
            }
        }

        &__button,
        &__counter {
            text-decoration: none;
            text-rendering: optimizeLegibility;
            display: none;
            margin: 0;
            outline: 0;
            
            @media all and (min-width: 760px){
                display: inline-block;
            }
        }

        &__button {
            position: relative;
            cursor: pointer;
            user-select: none;
            padding-right: 6px;
        }

        &__counter {
            position: relative;
            font-weight: normal;
            font-size: 11px;
            opacity: .5;
            padding-right: 6px;
            
            &_empty {
                display: none;
            }
        }

        &__widget,
        &__icon,
        &__button,
        &__counter {
            vertical-align: top;
        }

        &__button:empty {
            display: none;
        }
        
    } // .likely
        
    svg {
        vertical-align: -6px;
        width: 20px;
        height: 20px;
        fill: #fff;
        
        @media all and (min-width: 760px){
            width: 12px;
            height: 12px;
            vertical-align: -2px;
        }
    }
    
} // .likely:not(.likely_custom)
    
.likely_ready:not(.likely_custom) {
    
    .likely__counter {
        @media all and (min-width: 760px){
            display: inline-block;
            
            &_empty {
                display: none;
            }
        }
    }
}

.likely_expanded:not(.likely_custom) {
    .likely__widget {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

.likely_feed:not(.likely_custom) {
    display: none;
    
    @media all and (min-width: 760px){
        display: inline-block;
    }
    
    .likely__widget_more {
        display: none;
    }
}

.likely_secondary {
    display: none;
    
    @media all and (min-width: 760px){
        display: inline-block;
    }
}

// another mobile appearance
.likely_some:not(.likely_custom) {
    line-height: 32px;
    left: 15px;
    bottom: 9px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
            
    @media all and (min-width: 760px){
        left: 0;
    }
 
    .likely {
        &__widget {
            display: inline-block;
            width: 23%;
            margin-right: 2%;
            height: 32px;
            border-radius: 5px;
            visibility: hidden;
            opacity: 0;
            -webkit-transform: translateY(6px);
                    transform: translateY(6px);
            
            @media all and (min-width: 760px){
                width: auto;
            }
            
            &_twitter, &_facebook, &_vkontakte {
                visibility: visible;
                opacity: 1;
                -webkit-transform: translateY(0);
                        transform: translateY(0);
            }
            
            &:nth-child(3){
                margin-right: 25%;
                
                @media all and (min-width: 760px){
                    margin-right: 4px;
                }
            }
            
            // For 3x3
            // &:nth-child(3n){
            //     margin-right: 25%;
                
            //     @media all and (min-width: 760px){
            //         margin-right: 4px;
            //     }
            // }
            
            &_more {
                position absolute;
                bottom: 6px;
                right: 0;
                visibility: visible;
                opacity: 1;
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                        
                @media all and (min-width: 760px){
                    position relative;
                    bottom: 0;
                }
            }
        }
        
        &__icon {
            width: 32px;
            height: 32px;
            
            &_vkontakte {
                svg {
                    vertical-align: -4px;
                }
            }
            
            &_gplus {
                svg {
                    width: 14px;
                    height: 14px;
                    vertical-align: -3px;
                }
            }
        }
        
    } // .likely
    
    svg {
        width: 16px;
        height: 16px;
        vertical-align: -4px;
    }
    
    &.likely_expanded {
        .likely {
            &__widget {
                visibility: visible;
                opacity: 1;
                -webkit-transform: translateY(0);
                        transform: translateY(0);
            }
        }
    }
    
} // .likely_some

// Colors
colorize(button, color) {
    .likely__widget_{button} {
        background: color;
        
        &:hover, &.active {
            background: mix(#000,color,15%);
        }
    }
}

colorize('twitter', #31adf4);
colorize('facebook', #304591);
colorize('vkontakte', #527397);
colorize('gplus', #d94435);
colorize('odnoklassniki', #f2812e);
colorize('pocket', #dc3d50);
colorize('telegram', #2ca5e0);
colorize('whatsapp', #0f9d58);
colorize('viber', #7b519d);
colorize('more', #ce8104);